In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelBinarizer
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.multioutput import MultiOutputClassifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.multiclass import OneVsOneClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.ensemble import AdaBoostClassifier
from sklearn.svm import LinearSVC
from sklearn.cross_validation import train_test_split
from sklearn import neighbors
from collections import defaultdict
import xgboost as xgb
import lightgbm as lgb
import catboost as cat
import datetime
import gc

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [2]:
def add_date_features(df):
    df["date"] = pd.to_datetime(df["time_stamp"])
    df["date_year"] = df["date"].dt.year
    df["date_month"] = df["date"].dt.month
    df["date_day"] = df["date"].dt.day
    df["date_hour"] = df["date"].dt.hour
    df["date_min"] = df["date"].dt.minute
    return df

In [3]:
shop_info = pd.read_csv('train_ccf_first_round_shop_info.csv')
user_shop_info = pd.read_csv('train_ccf_first_round_user_shop_behavior.csv')
testA_B = pd.read_csv('AB_test_evaluation_public.csv') 
shop_info['category_id'] = shop_info['category_id'].str.split('c_', expand=True)[1].astype(np.int32)

建立商铺类型字典
每个类型key对应若干个shop_id
暂时没用。。

In [17]:
cat_shop = defaultdict(lambda : [])
for line in shop_info.values:
    cat_shop[line[1]].append(line[0])

处理训练集特征

In [4]:
add_date_features(user_shop_info)
lb = LabelBinarizer()
train_wifi_id = []
train_wifi_signal = []
train_wifi_flag = []
for line in user_shop_info.values:
    wifi = sorted([wifi.split('|') for wifi in line[5].split(';')],key=lambda x:int(x[1]),reverse=True)[0]
    train_wifi_id.append(wifi[0])
    train_wifi_signal.append(wifi[1])
    train_wifi_flag.append(wifi[2])
    
user_shop_info['wifi_id'] = train_wifi_id
user_shop_info['wifi_signal'] = train_wifi_signal
user_shop_info['wifi_flag'] = train_wifi_flag
user_shop_info['wifi_flag'] = lb.fit_transform(user_shop_info['wifi_flag'])
user_shop_info['wifi_signal'] = user_shop_info['wifi_signal'].astype(np.int32)
user_shop_info['wifi_id'] = user_shop_info['wifi_id'].str.split('b_', expand=True)[1].astype(np.int32)


user_shop_info['date_day'] = user_shop_info['date_day'].astype(np.int32)
user_shop_info['date_hour'] = user_shop_info['date_hour'].astype(np.int32)
user_shop_info['date_min'] = user_shop_info['date_min'].astype(np.int32)
user_shop_info['longitude'] = user_shop_info['longitude'].astype(np.float32)
user_shop_info['latitude'] = user_shop_info['latitude'].astype(np.float32)


user_shop_info = user_shop_info.drop(['wifi_infos', 'date', 'time_stamp', 'date_year', 'date_month', 'user_id'], axis=1)
user_shop_info

,shop_id,longitude,latitude,date_day,date_hour,date_min,wifi_id,wifi_signal,wifi_flag
0,s_2871718,122.308289,32.088039,6,21,20,6396479,-55,0
1,s_2871718,122.308159,32.087971,6,21,20,6396479,-57,0
2,s_181637,117.365257,40.638214,2,13,10,2485110,-52,0
3,s_609470,121.134453,31.197416,13,12,30,30424471,-60,0
4,s_3816766,122.255867,31.351320,25,19,50,39004148,-58,0
5,s_3686420,122.595276,31.581963,28,13,10,21608835,-44,0
6,s_89874,104.815315,30.962847,11,14,20,975810,-33,1
7,s_939447,117.913712,39.589680,6,14,50,13067253,-60,0
8,s_939447,117.913765,39.589699,2,17,30,42938093,-34,0
9,s_3698335,117.914185,39.589539,2,18,30,25674236,-51,0
10,s_149642,122.346924,31.834587,15,9,40,50360261,-50,0
11,s_9899,122.180161,32.182159,31,18,10,39330590,-47,0
12,s_433348,122.180267,32.181843,13,11,20,39339960,-29,0
13,s_301215,116.863770,40.328102,13,21,30,34721371,-53,0
14,s_190419,116.863762,40.328625,5,14,10,5148262,-62,0
15,s_190419,116.863968,40.328705,5,14,10,5148262,-62,0
16,s_190419,116.863968,40.328705,5,14,30,4196359,-52,0
17,s_190419,116.863762,40.328625,5,14,30,5148262,-52,0
18,s_3494433,121.192413,31.799353,16,14,40,32390667,-43,0
19,s_3494433,121.192436,31.799355,16,14,40,49970611,-43,0
20,s_54272,121.312492,31.918406,19,15,40,56325884,-57,0
21,s_452164,114.474358,31.080256,13,14,10,41006120,-53,0
22,s_573614,112.325684,32.686535,24,18,40,56323845,-64,0
23,s_1151286,112.324722,32.685780,24,20,20,49468128,-45,0
24,s_161222,119.865364,26.661257,17,21,0,1097520,-49,0
25,s_389470,121.531975,38.216484,3,19,20,1104620,-52,0
26,s_3947923,120.694580,31.953835,19,18,20,40374755,-44,0
27,s_2846762,104.815125,30.962255,29,11,50,40175399,-56,0
28,s_461089,121.962791,31.652742,6,12,20,51989743,-47,0
29,s_3996822,122.255554,31.351351,27,13,30,21685859,-54,0
...,...,...,...,...,...,...,...,...,...
1137985,s_3544054,120.693634,31.953583,15,13,0,27167901,-45,0
1137986,s_3544054,120.693626,31.953573,15,13,0,27167901,-29,0
1137987,s_13177,118.237831,32.240417,20,18,30,30286829,-51,0
1137988,s_649901,118.237648,32.241608,15,8,40,12181411,-49,0
1137989,s_402225,120.695160,31.954542,26,18,40,32972396,-28,1
1137990,s_410720,121.007980,32.322498,9,17,0,54933990,-45,0
1137991,s_143238,116.759056,40.737480,17,19,20,1042469,-44,0
1137992,s_44102,122.177124,38.427460,20,18,40,5040091,-57,0
1137993,s_214475,117.706268,36.829777,29,12,50,30525881,-27,1
1137994,s_8684,115.092514,38.932461,5,18,10,32374743,-46,0
1137995,s_410981,114.514641,30.910480,3,18,40,47386410,-35,0
1137996,s_364305,114.830994,31.233238,27,14,20,34674948,-58,0
1137997,s_384268,119.630730,26.745651,10,20,30,33726766,-32,0
1137998,s_404873,119.628670,26.746609,6,8,0,54983273,-43,0
1137999,s_447954,119.630775,26.745457,30,21,10,29112238,-45,0
1138000,s_632002,119.865417,26.660652,16,12,40,21758969,-40,1
1138001,s_166522,120.745438,30.815546,24,11,30,2069544,-51,0
1138002,s_166522,120.745422,30.815569,31,17,40,2069544,-51,0
1138003,s_479405,120.746635,30.815359,6,8,20,41216600,-46,0
1138004,s_166522,120.745415,30.815554,11,11,30,2069544,-55,0
1138005,s_166522,120.745377,30.815529,10,11,30,2069544,-48,0
1138006,s_166522,120.745407,30.815596,9,18,0,56746662,-63,0
1138007,s_166522,120.745468,30.815598,28,11,30,2069544,-58,0
1138008,s_166522,120.745430,30.815552,6,11,30,2069544,-53,0
1138009,s_1364182,120.746155,30.815725,15,17,10,28149846,-29,1
1138010,s_532491,120.745026,30.815491,28,19,50,52566228,-59,0
1138011,s_765697,118.899734,25.434021,31,19,10,32446875,-63,1
1138012,s_3683594,122.346825,31.834904,19,22,40,54340766,-48,0
1138013,s_251652,121.133812,31.197176,29,13,40,36977521,-26,1
1138014,s_251652,121.133804,31.197159,16,10,30,36977521,-22,0

按是否是周末、是否是早上、是否是下午、是否是晚上、是否是饭点构建新特征

In [5]:
weekend = [4, 5, 6, 11, 12, 13, 18, 19, 20, 25, 26, 27]
is_weekend = []
is_morning = []
is_afternoon = []
is_evening = []
is_dinner = []
for line in user_shop_info.values:
    if line[3] in weekend:
        is_weekend.append(1)
    else:
        is_weekend.append(0)

for line in user_shop_info.values:
    if (line[4] >= 0) & (line[4] <= 8):
        is_morning.append(1)
    else:
        is_morning.append(0)
        
for line in user_shop_info.values:
    if (line[4] >= 9) & (line[4] <= 16):
        is_afternoon.append(1)
    else:
        is_afternoon.append(0)
        
for line in user_shop_info.values:
    if (line[4] >= 17) & (line[4] <= 23):
        is_evening.append(1)
    else:
        is_evening.append(0)

for line in user_shop_info.values:
    if ((line[4] >= 11) & (line[4] <= 13)) | ((line[4] >= 17) & (line[4] <= 19)):
        is_dinner.append(1)
    else:
        is_dinner.append(0)
        
user_shop_info['is_weekend'] = is_weekend
user_shop_info['is_morning'] = is_morning
user_shop_info['is_afternoon'] = is_afternoon
user_shop_info['is_evening'] = is_evening
user_shop_info['is_dinner'] = is_dinner
user_shop_info

,shop_id,longitude,latitude,date_day,date_hour,date_min,wifi_id,wifi_signal,wifi_flag,is_weekend,is_morning,is_afternoon,is_evening,is_dinner
0,s_2871718,122.308289,32.088039,6,21,20,6396479,-55,0,1,0,0,1,0
1,s_2871718,122.308159,32.087971,6,21,20,6396479,-57,0,1,0,0,1,0
2,s_181637,117.365257,40.638214,2,13,10,2485110,-52,0,0,0,1,0,1
3,s_609470,121.134453,31.197416,13,12,30,30424471,-60,0,1,0,1,0,1
4,s_3816766,122.255867,31.351320,25,19,50,39004148,-58,0,1,0,0,1,1
5,s_3686420,122.595276,31.581963,28,13,10,21608835,-44,0,0,0,1,0,1
6,s_89874,104.815315,30.962847,11,14,20,975810,-33,1,1,0,1,0,0
7,s_939447,117.913712,39.589680,6,14,50,13067253,-60,0,1,0,1,0,0
8,s_939447,117.913765,39.589699,2,17,30,42938093,-34,0,0,0,0,1,1
9,s_3698335,117.914185,39.589539,2,18,30,25674236,-51,0,0,0,0,1,1
10,s_149642,122.346924,31.834587,15,9,40,50360261,-50,0,0,0,1,0,0
11,s_9899,122.180161,32.182159,31,18,10,39330590,-47,0,0,0,0,1,1
12,s_433348,122.180267,32.181843,13,11,20,39339960,-29,0,1,0,1,0,1
13,s_301215,116.863770,40.328102,13,21,30,34721371,-53,0,1,0,0,1,0
14,s_190419,116.863762,40.328625,5,14,10,5148262,-62,0,1,0,1,0,0
15,s_190419,116.863968,40.328705,5,14,10,5148262,-62,0,1,0,1,0,0
16,s_190419,116.863968,40.328705,5,14,30,4196359,-52,0,1,0,1,0,0
17,s_190419,116.863762,40.328625,5,14,30,5148262,-52,0,1,0,1,0,0
18,s_3494433,121.192413,31.799353,16,14,40,32390667,-43,0,0,0,1,0,0
19,s_3494433,121.192436,31.799355,16,14,40,49970611,-43,0,0,0,1,0,0
20,s_54272,121.312492,31.918406,19,15,40,56325884,-57,0,1,0,1,0,0
21,s_452164,114.474358,31.080256,13,14,10,41006120,-53,0,1,0,1,0,0
22,s_573614,112.325684,32.686535,24,18,40,56323845,-64,0,0,0,0,1,1
23,s_1151286,112.324722,32.685780,24,20,20,49468128,-45,0,0,0,0,1,0
24,s_161222,119.865364,26.661257,17,21,0,1097520,-49,0,0,0,0,1,0
25,s_389470,121.531975,38.216484,3,19,20,1104620,-52,0,0,0,0,1,1
26,s_3947923,120.694580,31.953835,19,18,20,40374755,-44,0,1,0,0,1,1
27,s_2846762,104.815125,30.962255,29,11,50,40175399,-56,0,0,0,1,0,1
28,s_461089,121.962791,31.652742,6,12,20,51989743,-47,0,1,0,1,0,1
29,s_3996822,122.255554,31.351351,27,13,30,21685859,-54,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137985,s_3544054,120.693634,31.953583,15,13,0,27167901,-45,0,0,0,1,0,1
1137986,s_3544054,120.693626,31.953573,15,13,0,27167901,-29,0,0,0,1,0,1
1137987,s_13177,118.237831,32.240417,20,18,30,30286829,-51,0,1,0,0,1,1
1137988,s_649901,118.237648,32.241608,15,8,40,12181411,-49,0,0,1,0,0,0
1137989,s_402225,120.695160,31.954542,26,18,40,32972396,-28,1,1,0,0,1,1
1137990,s_410720,121.007980,32.322498,9,17,0,54933990,-45,0,0,0,0,1,1
1137991,s_143238,116.759056,40.737480,17,19,20,1042469,-44,0,0,0,0,1,1
1137992,s_44102,122.177124,38.427460,20,18,40,5040091,-57,0,1,0,0,1,1
1137993,s_214475,117.706268,36.829777,29,12,50,30525881,-27,1,0,0,1,0,1
1137994,s_8684,115.092514,38.932461,5,18,10,32374743,-46,0,1,0,0,1,1
1137995,s_410981,114.514641,30.910480,3,18,40,47386410,-35,0,0,0,0,1,1
1137996,s_364305,114.830994,31.233238,27,14,20,34674948,-58,0,1,0,1,0,0
1137997,s_384268,119.630730,26.745651,10,20,30,33726766,-32,0,0,0,0,1,0
1137998,s_404873,119.628670,26.746609,6,8,0,54983273,-43,0,1,1,0,0,0
1137999,s_447954,119.630775,26.745457,30,21,10,29112238,-45,0,0,0,0,1,0
1138000,s_632002,119.865417,26.660652,16,12,40,21758969,-40,1,0,0,1,0,1
1138001,s_166522,120.745438,30.815546,24,11,30,2069544,-51,0,0,0,1,0,1
1138002,s_166522,120.745422,30.815569,31,17,40,2069544,-51,0,0,0,0,1,1
1138003,s_479405,120.746635,30.815359,6,8,20,41216600,-46,0,1,1,0,0,0
1138004,s_166522,120.745415,30.815554,11,11,30,2069544,-55,0,1,0,1,0,1
1138005,s_166522,120.745377,30.815529,10,11,30,2069544,-48,0,0,0,1,0,1
1138006,s_166522,120.745407,30.815596,9,18,0,56746662,-63,0,0,0,0,1,1
1138007,s_166522,120.745468,30.815598,28,11,30,2069544,-58,0,0,0,1,0,1
1138008,s_166522,120.745430,30.815552,6,11,30,2069544,-53,0,1,0,1,0,1
1138009,s_1364182,120.746155,30.815725,15,17,10,28149846,-29,1,0,0,0,1,1
1138010,s_532491,120.745026,30.815491,28,19,50,52566228,-59,0,0,0,0,1,1
1138011,s_765697,118.899734,25.434021,31,19,10,32446875,-63,1,0,0,0,1,1
1138012,s_3683594,122.346825,31.834904,19,22,40,54340766,-48,0,1,0,0,1,0
1138013,s_251652,121.133812,31.197176,29,13,40,36977521,-26,1,0,0,1,0,1
1138014,s_251652,121.133804,31.197159,16,10,30,36977521,-22,0,0,0,1,0,0

获得第一周同一商场每个店铺的客流量，暂时没用

In [33]:
for mall_id in mall_ids[:1]:
    shop_ids_by_mall_id = shop_info[shop_info.mall_id == mall_id]
    data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
    shop_1_week = data_by_mall_id[(data_by_mall_id['date_day'] >=1) & (data_by_mall_id['date_day'] <=6)]


price_shop_1_week = defaultdict(lambda : 0)
for line in shop_1_week.values:
    price_shop_1_week[line[0]] = price_shop_1_week[line[0]] + 1
    
price_shop_1_week.values()

dict_values([43, 21, 24, 57, 3, 25, 11, 39, 100, 22, 89, 203, 6, 118, 364, 48, 11, 8, 36, 7, 68, 10, 155, 48, 7, 46, 21, 6, 4, 4, 41, 73, 36, 16, 14, 179, 38, 30, 23, 47, 24, 18, 46, 185, 21, 6, 67, 4, 7, 11, 14, 22, 21, 14, 37, 27, 18, 9, 6, 60, 29, 94, 25, 66, 61, 1, 32, 38, 37, 5, 3, 1, 44, 32, 30, 42, 159, 16, 8, 13, 14, 108, 10, 27, 8, 15, 4, 46, 66, 26, 20, 30, 8, 18, 6, 33, 25, 9, 2, 185, 62, 87, 22, 39, 50, 2, 86, 4, 10, 29, 38, 29, 57, 4, 13, 2, 28, 30, 12, 11])

处理测试集特征

In [6]:
add_date_features(testA_B)
lb = LabelBinarizer()
test_wifi_id = []
test_wifi_signal = []
test_wifi_flag = []
for line in testA_B.values:
    wifi = sorted([wifi.split('|') for wifi in line[6].split(';')],key=lambda x:int(x[1]),reverse=True)[0]
    test_wifi_id.append(wifi[0])
    test_wifi_signal.append(wifi[1])
    test_wifi_flag.append(wifi[2])


testA_B['wifi_id'] = test_wifi_id
testA_B['wifi_signal'] = test_wifi_signal
testA_B['wifi_flag'] = test_wifi_flag
testA_B['wifi_flag'] = lb.fit_transform(testA_B['wifi_flag'])
testA_B['wifi_id'] = testA_B['wifi_id'].str.split('b_', expand=True)[1].astype(np.int32)
testA_B['wifi_signal'] = testA_B['wifi_signal'].astype(np.int32)

testA_B['date_day'] = testA_B['date_day'].astype(np.int32)
testA_B['date_hour'] = testA_B['date_hour'].astype(np.int32)
testA_B['date_min'] = testA_B['date_min'].astype(np.int32)
testA_B['longitude'] = testA_B['longitude'].astype(np.float32)
testA_B['latitude'] = testA_B['latitude'].astype(np.float32)


testA_B = testA_B.drop(['wifi_infos', 'date', 'time_stamp', 'date_year', 'date_month', 'user_id'], axis=1)

testA_B

,row_id,mall_id,longitude,latitude,date_day,date_hour,date_min,wifi_id,wifi_signal,wifi_flag
0,118742,m_3916,122.141014,39.818848,5,13,0,37756289,-53,0
1,118743,m_5085,118.191910,32.855858,6,13,10,49853639,-68,0
2,118744,m_4033,119.192108,32.424667,6,17,40,40924464,-54,0
3,118745,m_4515,120.612198,34.055248,3,12,10,52869345,-42,0
4,118746,m_7168,116.861992,40.326859,2,20,40,29284311,-42,0
5,118747,m_4079,117.365334,40.638302,1,13,20,33919931,-49,0
6,118748,m_2333,120.494446,36.455074,6,12,20,16608380,-50,0
7,118749,m_1175,120.744362,30.814718,7,21,10,8324226,-48,0
8,118750,m_1409,122.309341,32.086750,3,10,30,11907579,-56,0
9,118751,m_3517,104.417603,31.286158,2,19,0,32048186,-44,0
10,118752,m_3112,115.194839,38.540222,3,13,10,4969827,-52,0
11,118753,m_3112,115.194862,38.540237,3,19,30,4969832,-53,1
12,118754,m_3112,115.195007,38.540352,2,19,30,4969832,-35,1
13,118755,m_1790,114.518684,30.912361,1,19,40,54880066,-50,0
14,118756,m_2123,117.813545,39.619995,5,9,10,1136304,-37,0
15,118757,m_615,118.048347,31.891659,1,19,0,44221437,-46,0
16,118758,m_1409,122.307220,32.087467,3,14,20,1170570,-76,0
17,118759,m_9068,118.237602,32.240772,1,14,50,23414020,-48,0
18,118760,m_1175,120.745392,30.815594,2,17,20,34676152,-49,0
19,118761,m_1175,120.745430,30.815624,5,11,30,2069544,-47,0
20,118762,m_1175,120.745377,30.815601,5,17,10,2069544,-58,0
21,118763,m_1175,120.745392,30.815592,2,11,30,2069544,-52,0
22,118764,m_1175,120.745316,30.815582,4,12,0,2069544,-55,0
23,118765,m_3425,117.701683,35.131565,4,18,20,30054906,-37,0
24,118766,m_4459,114.435638,23.560490,3,20,30,20983380,-46,0
25,118767,m_4515,120.613045,34.055267,3,12,20,50050413,-40,0
26,118768,m_4543,121.956406,39.588493,3,19,50,54480140,-36,0
27,118769,m_8093,116.443665,29.229042,7,20,10,51172938,-22,0
28,118770,m_4572,116.088913,28.771467,1,11,0,28857247,-54,0
29,118771,m_1263,121.531029,38.215797,5,18,10,39377455,-70,0
...,...,...,...,...,...,...,...,...,...,...
483901,483902,m_6803,119.003212,31.687492,14,20,10,22469450,-49,0
483902,483903,m_6803,119.002609,31.687752,14,19,10,34486442,-39,0
483903,483904,m_1293,121.962288,31.651304,8,11,40,56201642,-34,0
483904,483905,m_6587,121.133820,31.197405,12,17,10,11573575,-40,0
483905,483906,m_1375,121.313553,31.916418,13,12,30,11968542,-44,0
483906,483907,m_1409,122.307617,32.087631,11,13,20,48819870,-37,0
483907,483908,m_1409,122.310410,32.088135,12,13,0,4026979,-47,0
483908,483909,m_5810,113.184464,38.377220,9,14,20,4494996,-39,0
483909,483910,m_5352,111.340706,31.216518,13,20,10,17620143,-43,0
483910,483911,m_7374,113.781883,23.338200,11,18,40,41084775,-54,0
483911,483912,m_3112,115.193985,38.540470,9,12,20,14974737,-43,0
483912,483913,m_2058,109.291351,35.181660,12,14,50,19277851,-35,0
483913,483914,m_8093,116.443619,29.228882,10,16,30,21786761,-45,0
483914,483915,m_8093,116.443634,29.228891,12,20,0,25295383,-57,0
483915,483916,m_8093,116.443619,29.228859,9,14,50,25295383,-58,0
483916,483917,m_3832,112.325684,32.687630,13,19,40,5313115,-47,0
483917,483918,m_1621,117.365326,40.666058,14,18,50,53900249,-44,0
483918,483919,m_1089,118.204689,24.784246,13,22,30,31767693,-40,0
483919,483920,m_4033,119.192642,32.424809,10,14,10,20869111,-54,0
483920,483921,m_4033,119.191643,32.424641,10,14,20,44337340,-39,0
483921,483922,m_2878,117.914200,39.589977,10,13,0,30269895,-56,0
483922,483923,m_5076,119.630775,26.745537,8,20,30,33726527,-31,0
483923,483924,m_5076,119.630722,26.745644,8,21,50,28110095,-29,0
483924,483925,m_5076,119.630142,26.745176,10,19,30,555642,-34,0
483925,483926,m_1920,104.814949,30.965336,11,18,0,53109185,-60,0
483926,483927,m_7523,117.256119,36.899323,10,13,50,37356762,-45,0
483927,483928,m_4828,116.941971,40.495293,10,13,50,8685803,-52,0
483928,483929,m_4828,116.941185,40.497448,13,14,30,45089046,-52,1
483929,483930,m_4828,116.941284,40.497444,11,12,10,45089046,-47,1
483930,483931,m_7973,119.874123,32.753948,10,18,10,25191669,-49,0

按是否是周末、是否是早上、是否是下午、是否是晚上、是否是饭点构建新特征

In [24]:
weekend = [4, 5, 6, 11, 12, 13, 18, 19, 20, 25, 26, 27]
is_weekend = []
is_morning = []
is_afternoon = []
is_evening = []
is_dinner = []
for line in testA_B.values:
    if line[4] in weekend:
        is_weekend.append(1)
    else:
        is_weekend.append(0)

for line in testA_B.values:
    if (line[5] >= 0) & (line[5] <= 8):
        is_morning.append(1)
    else:
        is_morning.append(0)
        
for line in testA_B.values:
    if (line[5] >= 9) & (line[5] <= 16):
        is_afternoon.append(1)
    else:
        is_afternoon.append(0)
        
for line in testA_B.values:
    if (line[5] >= 17) & (line[5] <= 23):
        is_evening.append(1)
    else:
        is_evening.append(0)
        
for line in testA_B.values:
    if ((line[5] >= 11) & (line[5] <= 13)) | ((line[5] >= 17) & (line[5] <= 19)):
        is_dinner.append(1)
    else:
        is_dinner.append(0)
        
testA_B['is_weekend'] = is_weekend
testA_B['is_morning'] = is_morning
testA_B['is_afternoon'] = is_afternoon
testA_B['is_evening'] = is_evening
testA_B['is_dinner'] = is_dinner
testA_B

,row_id,mall_id,longitude,latitude,date_day,date_hour,date_min,wifi_id,wifi_signal,wifi_flag,is_weekend,is_morning,is_afternoon,is_evening,is_dinner
0,118742,m_3916,122.141014,39.818848,5,13,0,37756289,-53,0,1,0,1,0,1
1,118743,m_5085,118.191910,32.855858,6,13,10,49853639,-68,0,1,0,1,0,1
2,118744,m_4033,119.192108,32.424667,6,17,40,40924464,-54,0,1,0,0,1,1
3,118745,m_4515,120.612198,34.055248,3,12,10,52869345,-42,0,0,0,1,0,1
4,118746,m_7168,116.861992,40.326859,2,20,40,29284311,-42,0,0,0,0,1,0
5,118747,m_4079,117.365334,40.638302,1,13,20,33919931,-49,0,0,0,1,0,1
6,118748,m_2333,120.494446,36.455074,6,12,20,16608380,-50,0,1,0,1,0,1
7,118749,m_1175,120.744362,30.814718,7,21,10,8324226,-48,0,0,0,0,1,0
8,118750,m_1409,122.309341,32.086750,3,10,30,11907579,-56,0,0,0,1,0,0
9,118751,m_3517,104.417603,31.286158,2,19,0,32048186,-44,0,0,0,0,1,1
10,118752,m_3112,115.194839,38.540222,3,13,10,4969827,-52,0,0,0,1,0,1
11,118753,m_3112,115.194862,38.540237,3,19,30,4969832,-53,1,0,0,0,1,1
12,118754,m_3112,115.195007,38.540352,2,19,30,4969832,-35,1,0,0,0,1,1
13,118755,m_1790,114.518684,30.912361,1,19,40,54880066,-50,0,0,0,0,1,1
14,118756,m_2123,117.813545,39.619995,5,9,10,1136304,-37,0,1,0,1,0,0
15,118757,m_615,118.048347,31.891659,1,19,0,44221437,-46,0,0,0,0,1,1
16,118758,m_1409,122.307220,32.087467,3,14,20,1170570,-76,0,0,0,1,0,0
17,118759,m_9068,118.237602,32.240772,1,14,50,23414020,-48,0,0,0,1,0,0
18,118760,m_1175,120.745392,30.815594,2,17,20,34676152,-49,0,0,0,0,1,1
19,118761,m_1175,120.745430,30.815624,5,11,30,2069544,-47,0,1,0,1,0,1
20,118762,m_1175,120.745377,30.815601,5,17,10,2069544,-58,0,1,0,0,1,1
21,118763,m_1175,120.745392,30.815592,2,11,30,2069544,-52,0,0,0,1,0,1
22,118764,m_1175,120.745316,30.815582,4,12,0,2069544,-55,0,1,0,1,0,1
23,118765,m_3425,117.701683,35.131565,4,18,20,30054906,-37,0,1,0,0,1,1
24,118766,m_4459,114.435638,23.560490,3,20,30,20983380,-46,0,0,0,0,1,0
25,118767,m_4515,120.613045,34.055267,3,12,20,50050413,-40,0,0,0,1,0,1
26,118768,m_4543,121.956406,39.588493,3,19,50,54480140,-36,0,0,0,0,1,1
27,118769,m_8093,116.443665,29.229042,7,20,10,51172938,-22,0,0,0,0,1,0
28,118770,m_4572,116.088913,28.771467,1,11,0,28857247,-54,0,0,0,1,0,1
29,118771,m_1263,121.531029,38.215797,5,18,10,39377455,-70,0,1,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
483901,483902,m_6803,119.003212,31.687492,14,20,10,22469450,-49,0,0,0,0,1,0
483902,483903,m_6803,119.002609,31.687752,14,19,10,34486442,-39,0,0,0,0,1,1
483903,483904,m_1293,121.962288,31.651304,8,11,40,56201642,-34,0,0,0,1,0,1
483904,483905,m_6587,121.133820,31.197405,12,17,10,11573575,-40,0,1,0,0,1,1
483905,483906,m_1375,121.313553,31.916418,13,12,30,11968542,-44,0,1,0,1,0,1
483906,483907,m_1409,122.307617,32.087631,11,13,20,48819870,-37,0,1,0,1,0,1
483907,483908,m_1409,122.310410,32.088135,12,13,0,4026979,-47,0,1,0,1,0,1
483908,483909,m_5810,113.184464,38.377220,9,14,20,4494996,-39,0,0,0,1,0,0
483909,483910,m_5352,111.340706,31.216518,13,20,10,17620143,-43,0,1,0,0,1,0
483910,483911,m_7374,113.781883,23.338200,11,18,40,41084775,-54,0,1,0,0,1,1
483911,483912,m_3112,115.193985,38.540470,9,12,20,14974737,-43,0,0,0,1,0,1
483912,483913,m_2058,109.291351,35.181660,12,14,50,19277851,-35,0,1,0,1,0,0
483913,483914,m_8093,116.443619,29.228882,10,16,30,21786761,-45,0,0,0,1,0,0
483914,483915,m_8093,116.443634,29.228891,12,20,0,25295383,-57,0,1,0,0,1,0
483915,483916,m_8093,116.443619,29.228859,9,14,50,25295383,-58,0,0,0,1,0,0
483916,483917,m_3832,112.325684,32.687630,13,19,40,5313115,-47,0,1,0,0,1,1
483917,483918,m_1621,117.365326,40.666058,14,18,50,53900249,-44,0,0,0,0,1,1
483918,483919,m_1089,118.204689,24.784246,13,22,30,31767693,-40,0,1,0,0,1,0
483919,483920,m_4033,119.192642,32.424809,10,14,10,20869111,-54,0,0,0,1,0,0
483920,483921,m_4033,119.191643,32.424641,10,14,20,44337340,-39,0,0,0,1,0,0
483921,483922,m_2878,117.914200,39.589977,10,13,0,30269895,-56,0,0,0,1,0,1
483922,483923,m_5076,119.630775,26.745537,8,20,30,33726527,-31,0,0,0,0,1,0
483923,483924,m_5076,119.630722,26.745644,8,21,50,28110095,-29,0,0,0,0,1,0
483924,483925,m_5076,119.630142,26.745176,10,19,30,555642,-34,0,0,0,0,1,1
483925,483926,m_1920,104.814949,30.965336,11,18,0,53109185,-60,0,1,0,0,1,1
483926,483927,m_7523,117.256119,36.899323,10,13,50,37356762,-45,0,0,0,1,0,1
483927,483928,m_4828,116.941971,40.495293,10,13,50,8685803,-52,0,0,0,1,0,1
483928,483929,m_4828,116.941185,40.497448,13,14,30,45089046,-52,1,1,0,1,0,0
483929,483930,m_4828,116.941284,40.497444,11,12,10,45089046,-47,1,1,0,1,0,1
483930,483931,m_7973,119.874123,32.753948,10,18,10,25191669,-49,0,0,0,0,1,1

获得所有商场id

In [8]:
mall_ids = list( shop_info.ix[:,'mall_id'].unique() )

创建复合字典：每个商场的客流量price均值对应若干个同一商场的shop_id

In [15]:
price_shop = defaultdict(lambda : defaultdict(lambda : []))
for mall_id in mall_ids[:10]:
    shop_ids_by_mall_id = shop_info[shop_info.mall_id == mall_id]
    #data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
    per_mall_avg_price = shop_ids_by_mall_id.price.mean()
    price_shop[per_mall_avg_price][mall_id].append(shop_ids_by_mall_id.shop_id.values)
    
price_shop

defaultdict(<function __main__.<lambda>>,
            {48.482352941176472: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_3739': [array(['s_462', 's_4244', 's_4550', 's_35936', 's_43983', 's_44872',
                                  's_68678', 's_71846', 's_133772', 's_137744', 's_161194',
                                  's_212532', 's_240201', 's_242485', 's_246939', 's_262507',
                                  's_350316', 's_359471', 's_386146', 's_386147', 's_389945',
                                  's_399584', 's_410705', 's_412876', 's_413128', 's_414483',
                                  's_417391', 's_426191', 's_435292', 's_441326', 's_442713',
                                  's_591054', 's_598913', 's_599777', 's_658222', 's_659057',
                                  's_725240', 's_731626', 's_747267', 's_748798', 's_774954',
                                  's_816804', 's_824042', 's_831973', 's_869642', 's_878890',
                                  's_966073', 's_1010498', 's_1191050', 's_1196706', 's_2259021',
                                  's_2814368', 's_2901791', 's_2925263', 's_3065235', 's_3068188',
                                  's_3099560', 's_3259736', 's_3259751', 's_3392998', 's_3518028',
                                  's_3535224', 's_3550069', 's_3622417', 's_3694161', 's_3753476',
                                  's_3815875', 's_3816060', 's_3822224', 's_3822324', 's_3831548',
                                  's_3846330', 's_3853328', 's_3854663', 's_3858871', 's_3862055',
                                  's_3871151', 's_3873363', 's_3891192', 's_3981393', 's_3984812',
                                  's_3990904', 's_3992136', 's_4004913', 's_4033892'], dtype=object)]}),
             48.755319148936174: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_6587': [array(['s_133', 's_828', 's_3735', 's_3780', 's_4721', 's_7893', 's_8178',
                                  's_22504', 's_48916', 's_53742', 's_61508', 's_64615', 's_65583',
                                  's_72613', 's_73027', 's_86032', 's_134834', 's_142276', 's_143658',
                                  's_213073', 's_219161', 's_251652', 's_264236', 's_266452',
                                  's_275457', 's_296184', 's_296847', 's_298569', 's_345695',
                                  's_352840', 's_375770', 's_382398', 's_385005', 's_403680',
                                  's_412825', 's_428339', 's_436475', 's_446984', 's_447707',
                                  's_464841', 's_474193', 's_480414', 's_483185', 's_504234',
                                  's_553018', 's_595077', 's_609470', 's_646953', 's_889824',
                                  's_1119772', 's_1150421', 's_1203412', 's_1516725', 's_1946554',
                                  's_2683921', 's_2819490', 's_2944347', 's_2953013', 's_3024639',
                                  's_3063168', 's_3131512', 's_3302515', 's_3312468', 's_3401200',
                                  's_3465042', 's_3484894', 's_3545750', 's_3590609', 's_3590811',
                                  's_3596865', 's_3598603', 's_3601370', 's_3682532', 's_3717925',
                                  's_3729738', 's_3740894', 's_3740930', 's_3757472', 's_3758973',
                                  's_3778419', 's_3786884', 's_3806621', 's_3830592', 's_3858056',
                                  's_3886130', 's_3887252', 's_3889111', 's_3895172', 's_3899000',
                                  's_3969928', 's_3992839', 's_3996002', 's_4059177', 's_4059861'], dtype=object)]}),
             49.565217391304351: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_2058': [array(['s_780', 's_911', 's_1961', 's_3830', 's_4319', 's_35254',
                                  's_43176', 's_45844', 's_54587', 's_55450', 's_59463', 's_69965',
                                  's_78344', 's_84594', 's_222597', 's_240357', 's_286127',
                                  's_326781', 's_338531', 's_383262', 's_411036', 's_417276',
                                  's_429992', 's_431314', 's_484793', 's_516875', 's_549534',
                                  's_670426', 's_731284', 's_937740', 's_1165221', 's_1694350',
                                  's_2121935', 's_2219881', 's_2852347', 's_2915976', 's_3117680',
                                  's_3594309', 's_3648391', 's_3849013', 's_3914113', 's_3956991',
                                  's_3984080', 's_3993897', 's_4000607', 's_4031911'], dtype=object)]}),
             50.011494252873561: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_2182': [array(['s_729', 's_865', 's_4038', 's_4895', 's_5165', 's_8470', 's_9136',
                                  's_18037', 's_52397', 's_59645', 's_64342', 's_65802', 's_65944',
                                  's_69208', 's_72830', 's_94594', 's_132108', 's_134331', 's_146047',
                                  's_183172', 's_184010', 's_230476', 's_263749', 's_298997',
                                  's_300083', 's_300776', 's_353459', 's_356195', 's_405408',
                                  's_424244', 's_434646', 's_435471', 's_449922', 's_450401',
                                  's_455988', 's_459988', 's_466043', 's_479073', 's_481912',
                                  's_506548', 's_526324', 's_529339', 's_633411', 's_640721',
                                  's_642085', 's_690431', 's_700545', 's_780272', 's_840323',
                                  's_912829', 's_1214712', 's_1219936', 's_1434386', 's_1473208',
                                  's_1752364', 's_2590307', 's_2697372', 's_2738226', 's_3031149',
                                  's_3067013', 's_3147981', 's_3148863', 's_3181238', 's_3306332',
                                  's_3417210', 's_3444468', 's_3574428', 's_3625800', 's_3735812',
                                  's_3739476', 's_3788083', 's_3792952', 's_3797296', 's_3798639',
                                  's_3817558', 's_3830566', 's_3836016', 's_3875753', 's_3909724',
                                  's_3949775', 's_3957866', 's_3964460', 's_3968307', 's_3968385',
                                  's_3976898', 's_4005346', 's_4044849'], dtype=object)]}),
             50.024000000000001: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_1175': [array(['s_496', 's_2425', 's_3474', 's_4943', 's_7301', 's_37078',
                                  's_42867', 's_52803', 's_118705', 's_135724', 's_136935',
                                  's_146906', 's_159598', 's_165070', 's_166522', 's_201770',
                                  's_346914', 's_357507', 's_396753', 's_401697', 's_412569',
                                  's_417305', 's_423519', 's_449683', 's_460331', 's_479405',
                                  's_484707', 's_485264', 's_525323', 's_531846', 's_532491',
                                  's_544126', 's_552605', 's_568147', 's_573262', 's_576377',
                                  's_587080', 's_589131', 's_596297', 's_603718', 's_650755',
                                  's_656706', 's_669957', 's_672298', 's_676313', 's_677502',
                                  's_684487', 's_684652', 's_701508', 's_735880', 's_786530',
                                  's_809240', 's_955546', 's_990477', 's_1112656', 's_1198312',
                                  's_1347278', 's_1364182', 's_1447952', 's_1751222', 's_1874982',
                                  's_1898908', 's_1969087', 's_2011969', 's_2075920', 's_2273430',
                                  's_2558448', 's_2651399', 's_2703639', 's_2745266', 's_2836741',
                                  's_2856239', 's_2872665', 's_2909380', 's_3022733', 's_3039290',
                                  's_3074861', 's_3315343', 's_3360000', 's_3478400', 's_3513660',
                                  's_3533238', 's_3545311', 's_3554531', 's_3574027', 's_3575936',
                                  's_3631743', 's_3656659', 's_3669025', 's_3682772', 's_3693641',
                                  's_3695209', 's_3707203', 's_3710069', 's_3715450', 's_3720081',
                                  's_3721256', 's_3743698', 's_3745834', 's_3751919', 's_3760930',
                                  's_3778792', 's_3813757', 's_3815250', 's_3816571', 's_3835227',
                                  's_3842135', 's_3855343', 's_3864528', 's_3865173', 's_3894711',
                                  's_3895055', 's_3895726', 's_3896277', 's_3903347', 's_3909220',
                                  's_3911805', 's_3915605', 's_3916557', 's_3961982', 's_3984068',
                                  's_4000936', 's_4027585', 's_4036036', 's_4058621'], dtype=object)]}),
             51.488636363636367: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_625': [array(['s_372', 's_4229', 's_4948', 's_7986', 's_13041', 's_42513',
                                  's_42654', 's_59420', 's_60887', 's_70173', 's_82466', 's_83617',
                                  's_144396', 's_147610', 's_161222', 's_161345', 's_167061',
                                  's_300063', 's_374324', 's_376466', 's_395679', 's_400393',
                                  's_401069', 's_404043', 's_404514', 's_411198', 's_412358',
                                  's_412982', 's_423723', 's_425183', 's_435304', 's_444280',
                                  's_452242', 's_484391', 's_491928', 's_493800', 's_494510',
                                  's_508244', 's_534188', 's_537054', 's_540280', 's_540652',
                                  's_551364', 's_553448', 's_569199', 's_574744', 's_589806',
                                  's_616429', 's_632002', 's_804812', 's_831820', 's_956582',
                                  's_1000261', 's_1036979', 's_1254143', 's_1417112', 's_1469057',
                                  's_1471760', 's_1956634', 's_2774209', 's_2899977', 's_3017581',
                                  's_3091323', 's_3230696', 's_3465397', 's_3538978', 's_3554967',
                                  's_3568515', 's_3576708', 's_3581658', 's_3582288', 's_3631602',
                                  's_3632940', 's_3734779', 's_3790850', 's_3824745', 's_3825550',
                                  's_3827002', 's_3838373', 's_3843292', 's_3870249', 's_3875743',
                                  's_3879419', 's_3898138', 's_3922036', 's_3948432', 's_3976422',
                                  's_4005514'], dtype=object)]}),
             51.5: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_5892': [array(['s_251', 's_775', 's_884', 's_1550', 's_1670', 's_1852', 's_3627',
                                  's_4408', 's_4891', 's_6793', 's_7741', 's_14187', 's_15109',
                                  's_19348', 's_21742', 's_46777', 's_53848', 's_60336', 's_71063',
                                  's_83439', 's_85119', 's_87103', 's_87573', 's_94640', 's_110312',
                                  's_129403', 's_150658', 's_160378', 's_175358', 's_194930',
                                  's_215420', 's_220778', 's_227106', 's_232204', 's_246842',
                                  's_290458', 's_299856', 's_305169', 's_317972', 's_373001',
                                  's_382249', 's_384405', 's_387706', 's_395448', 's_404715',
                                  's_408033', 's_417574', 's_476377', 's_484303', 's_508165',
                                  's_531158', 's_553374', 's_613593', 's_625199', 's_639406',
                                  's_661742', 's_706638', 's_710514', 's_726931', 's_748929',
                                  's_752687', 's_753083', 's_753244', 's_757413', 's_757514',
                                  's_791967', 's_839161', 's_987696', 's_1198407', 's_1246131',
                                  's_1256756', 's_1256921', 's_1350876', 's_1447600', 's_2142513',
                                  's_2251856', 's_2734695', 's_2766041', 's_2768956', 's_2769864',
                                  's_3010478', 's_3019895', 's_3053802', 's_3055592', 's_3349909',
                                  's_3476885', 's_3478295', 's_3581985', 's_3586750', 's_3634874',
                                  's_3682819', 's_3762082', 's_3783514', 's_3821302', 's_3850523',
                                  's_3866661', 's_3875258', 's_3879046', 's_3951138', 's_3972568',
                                  's_3984955', 's_4009073', 's_4027780', 's_4044333'], dtype=object)]}),
             54.45255474452555: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_690': [array(['s_26', 's_1587', 's_1756', 's_2258', 's_2265', 's_3221', 's_3697',
                                  's_5947', 's_9147', 's_12639', 's_15012', 's_16473', 's_17145',
                                  's_43301', 's_44188', 's_53708', 's_57280', 's_63055', 's_68741',
                                  's_70432', 's_70697', 's_71589', 's_75184', 's_75575', 's_82862',
                                  's_94841', 's_98246', 's_131895', 's_149642', 's_152386',
                                  's_162065', 's_172852', 's_200652', 's_210364', 's_211875',
                                  's_217698', 's_221357', 's_240723', 's_259411', 's_266675',
                                  's_267330', 's_287617', 's_298312', 's_304431', 's_321001',
                                  's_334595', 's_389825', 's_390302', 's_392580', 's_394554',
                                  's_398375', 's_405021', 's_407043', 's_416299', 's_423417',
                                  's_425128', 's_430552', 's_432564', 's_455479', 's_464962',
                                  's_467203', 's_471236', 's_480033', 's_486541', 's_491151',
                                  's_491988', 's_495780', 's_501869', 's_511059', 's_517730',
                                  's_532828', 's_543464', 's_544982', 's_555720', 's_633878',
                                  's_645725', 's_656813', 's_669092', 's_698115', 's_704259',
                                  's_741330', 's_767494', 's_796974', 's_824128', 's_850768',
                                  's_878825', 's_905564', 's_1091614', 's_1138950', 's_1203375',
                                  's_1208985', 's_1214828', 's_1217813', 's_1228218', 's_1425466',
                                  's_1522414', 's_1719280', 's_1848170', 's_1850655', 's_1910011',
                                  's_1946001', 's_2000157', 's_2038606', 's_2628604', 's_2784191',
                                  's_2789464', 's_2833968', 's_3031268', 's_3183871', 's_3209667',
                                  's_3305181', 's_3345001', 's_3578421', 's_3609326', 's_3609851',
                                  's_3683594', 's_3708022', 's_3708149', 's_3737251', 's_3765583',
                                  's_3792037', 's_3806401', 's_3806668', 's_3830245', 's_3836242',
                                  's_3840220', 's_3875945', 's_3882031', 's_3904008', 's_3911669',
                                  's_3924745', 's_3946132', 's_3975589', 's_3992938', 's_4000963',
                                  's_4015771', 's_4044487'], dtype=object)]}),
             54.657407407407405: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_1293': [array(['s_469', 's_1126', 's_1144', 's_2404', 's_7466', 's_12738',
                                  's_47545', 's_48293', 's_53811', 's_59418', 's_60197', 's_65376',
                                  's_70790', 's_70986', 's_75375', 's_97281', 's_97701', 's_145311',
                                  's_168091', 's_173206', 's_202202', 's_252207', 's_276357',
                                  's_277637', 's_292735', 's_297192', 's_298488', 's_388486',
                                  's_388487', 's_388569', 's_388609', 's_388626', 's_388651',
                                  's_388724', 's_388736', 's_388753', 's_388754', 's_388893',
                                  's_388904', 's_388905', 's_388939', 's_389264', 's_389350',
                                  's_389387', 's_389402', 's_389403', 's_389547', 's_396564',
                                  's_409119', 's_414640', 's_415999', 's_416125', 's_422910',
                                  's_423110', 's_461089', 's_461479', 's_465078', 's_496144',
                                  's_502562', 's_505955', 's_520700', 's_529219', 's_536738',
                                  's_587965', 's_623778', 's_643201', 's_657218', 's_679476',
                                  's_701512', 's_720932', 's_757418', 's_761178', 's_774697',
                                  's_819780', 's_848684', 's_1005034', 's_1214829', 's_1275465',
                                  's_1356857', 's_1423736', 's_1458981', 's_1670186', 's_1701386',
                                  's_1774143', 's_2027131', 's_2193582', 's_2785528', 's_2916543',
                                  's_2925155', 's_2971619', 's_3295867', 's_3348007', 's_3403034',
                                  's_3406286', 's_3407316', 's_3466708', 's_3546695', 's_3628861',
                                  's_3723616', 's_3740508', 's_3749169', 's_3798387', 's_3821177',
                                  's_3823330', 's_3864827', 's_3950371', 's_3953872', 's_3992936'], dtype=object)]}),
             55.40449438202247: defaultdict(<function __main__.<lambda>.<locals>.<lambda>>,
                         {'m_3839': [array(['s_456', 's_2562', 's_3402', 's_6812', 's_9724', 's_42972',
                                  's_45172', 's_48338', 's_51036', 's_53786', 's_63152', 's_63309',
                                  's_69420', 's_69656', 's_70713', 's_73900', 's_81527', 's_94733',
                                  's_95771', 's_140773', 's_143910', 's_152013', 's_159712',
                                  's_176340', 's_199112', 's_266487', 's_303701', 's_322471',
                                  's_344053', 's_373861', 's_383834', 's_387593', 's_389857',
                                  's_393124', 's_405983', 's_406205', 's_423613', 's_430581',
                                  's_434289', 's_434414', 's_441353', 's_453053', 's_461573',
                                  's_475272', 's_486054', 's_512023', 's_633694', 's_634070',
                                  's_643398', 's_649441', 's_653014', 's_658701', 's_662492',
                                  's_662601', 's_677496', 's_700800', 's_751378', 's_752541',
                                  's_767604', 's_823616', 's_873312', 's_879335', 's_982505',
                                  's_1025764', 's_1077137', 's_1089663', 's_1118226', 's_1118858',
                                  's_1358553', 's_1448814', 's_1673138', 's_2119013', 's_2136660',
                                  's_2924628', 's_3028345', 's_3032311', 's_3035417', 's_3040029',
                                  's_3077379', 's_3079550', 's_3532219', 's_3686420', 's_3702241',
                                  's_3718546', 's_3740483', 's_3793606', 's_3820258', 's_3951513',
                                  's_3995279'], dtype=object)]})})

knn模型预测

In [167]:
count = 0

result = pd.DataFrame()
row_and_shop_list_resuslt = pd.DataFrame()

#一共有97个mall_id
for mall_id in mall_ids[:98]:
    #每个mall训练前清理结果列表，初始化index，防止不同mall中样本数量不同出错
    row_and_shop_list_resuslt.drop(row_and_shop_list_resuslt.index,inplace=True)
    count1 = 0 
    
    #每10个mall 输出一次
    count = count + 1
    if(count % 10 == 0):
        print(count)
    
    #获得同一个mall_id中的所有训练集样本信息
    shop_ids_by_mall_id = shop_info[shop_info.mall_id == mall_id]
    data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
    data_by_mall_id = data_by_mall_id.drop(['date_day', 'date_hour', 'date_min'], axis=1)
    
    #获得同一个mall_id中的所有测试集样本信息
    test_data_by_mall_id = testA_B[testA_B['mall_id'] == mall_id]
    #针对每个mall_id创建对应的预测结果存放列表
    row_and_shop_list_resuslt['row_id'] = test_data_by_mall_id.row_id
    test_data_by_mall_id = test_data_by_mall_id.drop(['mall_id', 'row_id', 'date_day', 'date_hour', 'date_min'], axis=1)
    
    #获得特征和目标值
    X = data_by_mall_id.ix[:, 1:]
    y = data_by_mall_id.ix[:, :1]
#    x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.19)  
    clf = neighbors.KNeighborsClassifier(algorithm='auto', n_neighbors=4)  
    clf.fit(x_train, y_train)
    
 #注释部分将训练集的百分之80取样训练模型，剩下百分之20作为验证集，计算线下分数   
 #   answer1 = clf.predict(x_valid)
    
 #   for j in range(len(answer1)):
 #       if answer1[j] == np.array(y_valid)[j]:
 #           count1 = count1 + 1

 #   print(1.0 * count1 / len(answer1))   
 #   print(mall_id)
 #   print(answer1)

    
    #将每个mall_id的预测结果聚合
    row_and_shop_list_resuslt['shop_id'] = pd.Series(clf.predict(test_data_by_mall_id)).values
    
    result = result.append(row_and_shop_list_resuslt, ignore_index=True)

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\ipykernel\__main__.py:26: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

10
20
30
40
50
60
70
80
90

m_7800号商场误差太大，单独调出来分析。。。。

In [153]:
shop_ids_by_mall_id = shop_info[shop_info.mall_id == 'm_7800']
data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
data_by_mall_id.shop_id.value_counts()

s_685058     1814
s_684547      971
s_683678      762
s_683985      734
s_683671      726
s_684245      630
s_683674      617
s_683832      599
s_683821      598
s_809873      542
s_683053      521
s_682074      472
s_684555      467
s_696563      454
s_698556      438
s_685227      424
s_684235      423
s_3382317     410
s_679110      394
s_539726      380
s_662370      342
s_683217      312
s_461325      304
s_681760      288
s_521874      278
s_2230096     259
s_3421010     242
s_2248290     236
s_712117      228
s_466068      228
             ...
s_570408       66
s_1114306      62
s_696015       58
s_3101804      57
s_557771       57
s_1488950      57
s_478200       56
s_454451       51
s_735757       48
s_3257365      46
s_1444403      41
s_1093389      41
s_709290       36
s_3284083      34
s_3328792      34
s_3832595      34
s_528544       32
s_622845       31
s_546469       30
s_3744077      28
s_1462898      27
s_473565       27
s_769794       26
s_3791261      25
s_534067       23
s_766869        9
s_479486        7
s_3716980       1
s_3724181       1
s_3332885       1
Name: shop_id, dtype: int64

In [164]:
count1 = 0
result = pd.DataFrame()
row_and_shop_list_resuslt = pd.DataFrame()
row_and_shop_list_resuslt.drop(row_and_shop_list_resuslt.index,inplace=True)

shop_ids_by_mall_id = shop_info[shop_info.mall_id == 'm_7800']
data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
data_by_mall_id = data_by_mall_id.drop(['date_day', 'date_hour', 'date_min'], axis=1)
    
#test_data_by_mall_id = testA_B[testA_B['mall_id'] == mall_id]
#row_and_shop_list_resuslt['row_id'] = test_data_by_mall_id.row_id
    
#test_data_by_mall_id = test_data_by_mall_id.drop(['mall_id', 'row_id', 'date_day', 'date_hour', 'date_min'], axis=1)
X = data_by_mall_id.ix[:, 1:]
y = data_by_mall_id.ix[:, :1]
x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.19, random_state=1)  
    
clf = lgb.LGBMClassifier(silent=False, n_estimators=40, learning_rate=0.13, subsample=0.8).fit(x_train, y_train)
#clf = GradientBoostingClassifier(n_estimators=10, subsample=0.7).fit(x_train, y_train)
answer1 = clf.predict(x_valid)
    
for j in range(len(answer1)):
    if answer1[j] == np.array(y_valid)[j]:
        count1 = count1 + 1

print(1.0 * count1 / len(answer1))

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.5986666666666667

使用随机森林模型

In [11]:
count = 0
result = pd.DataFrame()

for mall_id in mall_ids[:1]:
    count1 = 0 
    
    count = count + 1
    if(count % 10 == 0):
        print(count)
    shop_ids_by_mall_id = shop_info[shop_info.mall_id == mall_id]
    data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
    
    X = data_by_mall_id.ix[:, 1:]
    y = data_by_mall_id.ix[:, :1]
    y['shop_id'] = y['shop_id'].str.split('s_', expand=True)[1].astype(np.int32)
    x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.19)
    
    forest = RandomForestClassifier(n_estimators=50, random_state=1)
    multi_target_forest = MultiOutputClassifier(forest, n_jobs=-1)
    multi_target_forest.fit(x_train, y_train)
    answer1 = multi_target_forest.predict(x_valid)
    
    for j in range(len(answer1)):
        if answer1[j] == np.array(y_valid)[j]:
            count1 = count1 + 1

    print(1.0 * count1 / len(answer1))

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\ipykernel\__main__.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

0.777668759811617

字符串拼接，暂时没用。。。

In [53]:
pd.Series(['s_']).str.cat([pd.Series(a.shop_id[0].astype(np.str))], sep='')

0    s_633878
dtype: object

使用XGboost模型

In [18]:
count = 0
result = pd.DataFrame()
for mall_id in mall_ids[:1]:
    count1 = 0 
    
    count = count + 1
    if(count % 10 == 0):
        print(count)
    shop_ids_by_mall_id = shop_info[shop_info.mall_id == mall_id]
    data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
    
    #test_data_by_mall_id = testA_B[testA_B['mall_id'] == mall_id]
    #test_data_by_mall_id = test_data_by_mall_id.drop(['mall_id', 'row_id'], axis=1)
    X = data_by_mall_id.ix[:, 1:]
    y = data_by_mall_id.ix[:, :1]
    y['shop_id'] = y['shop_id'].str.split('s_', expand=True)[1].astype(np.int32)
    x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.19)
    
    bst = xgb.XGBClassifier(n_estimators=10).fit(x_train, y_train)
    
    answer1 = bst.predict(x_valid)
    
    for j in range(len(answer1)):
        if answer1[j] == np.array(y_valid)[j]:
            count1 = count1 + 1

    print(1.0 * count1 / len(answer1)) 
        #print(result.append(pd.Series(mid_result), ignore_index=True))

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\ipykernel\__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

0.7498037676609105

使用lightGBM模型 作为线上预测结果

In [25]:
count = 0

result = pd.DataFrame()
row_and_shop_list_resuslt = pd.DataFrame()
for mall_id in mall_ids[:98]:
    row_and_shop_list_resuslt.drop(row_and_shop_list_resuslt.index,inplace=True)
    count1 = 0 
    
    count = count + 1
    if(count % 10 == 0):
        print(count)
    shop_ids_by_mall_id = shop_info[shop_info.mall_id == mall_id]
    data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
    data_by_mall_id = data_by_mall_id.drop(['date_day', 'date_hour', 'date_min'], axis=1)
    
    test_data_by_mall_id = testA_B[testA_B['mall_id'] == mall_id]
    row_and_shop_list_resuslt['row_id'] = test_data_by_mall_id.row_id
    
    test_data_by_mall_id = test_data_by_mall_id.drop(['mall_id', 'row_id', 'date_day', 'date_hour', 'date_min'], axis=1)
    X = data_by_mall_id.ix[:, 1:]
    y = data_by_mall_id.ix[:, :1]   
    
    lgb_pred = lgb.LGBMClassifier( silent=False, n_estimators=30, learning_rate=0.13).fit(X, y)   
    
    row_and_shop_list_resuslt['shop_id'] = pd.Series(lgb_pred.predict(test_data_by_mall_id)).values
    result = result.append(row_and_shop_list_resuslt, ignore_index=True)

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

10

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

20

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

30

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

40

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

50

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

60

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

70

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

80

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

90

c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
c:\users\scarlet\appdata\local\programs\python\python35\lib\site-packages\sklearn\preprocessing\label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

写入文件

In [26]:
result

        row_id    shop_id
0       118979     s_1756
1       119032     s_9147
2       119068     s_9147
3       119149   s_287617
4       119155   s_455479
5       119182   s_405021
6       119215   s_298312
7       119279     s_9147
8       119295   s_149642
9       119485   s_149642
10      119523  s_3836242
11      119635   s_491151
12      119686    s_57280
13      119755  s_3345001
14      119756  s_1217813
15      119784     s_3221
16      119834   s_266675
17      119925     s_5947
18      119994   s_633878
19      120001   s_298312
20      120007     s_1587
21      120017   s_287617
22      120018   s_455479
23      120066    s_75575
24      120067  s_3882031
25      120120   s_824128
26      120152   s_217698
27      120291   s_532828
28      120292    s_75184
29      120319  s_3836242
...        ...        ...
483901  481714  s_3382317
483902  481727   s_679110
483903  481728   s_679110
483904  481913   s_698556
483905  481914   s_683671
483906  481962   s_769794
483907  482085   s_682074
483908  482086   s_684245
483909  482087   s_696563
483910  482088  s_3382317
483911  482138  s_3101804
483912  482147   s_685058
483913  482148   s_684547
483914  482277   s_683671
483915  482278   s_683671
483916  482354   s_696015
483917  482552  s_2248290
483918  482770   s_684245
483919  482911   s_684555
483920  483198   s_684547
483921  483199  s_3991685
483922  483200   s_683821
483923  483201  s_3991685
483924  483336   s_696563
483925  483337   s_685058
483926  483351  s_3382317
483927  483352  s_3812635
483928  483380  s_2230096
483929  483381   s_679110
483930  483390  s_3140371

[483931 rows x 2 columns]

In [27]:
result.to_csv('result.csv', index=False)

多个模型结果按次数融合，正在写。

In [ ]:
count = 0
for mall_id in mall_ids[:10]:
    count1 = 0
    count = count + 1
    if(count % 10 == 0):
        print(count)
    shop_ids_by_mall_id = shop_info[shop_info.mall_id == mall_id]
    data_by_mall_id = user_shop_info[user_shop_info['shop_id'].isin(shop_ids_by_mall_id['shop_id'])]
    data_by_mall_id = data_by_mall_id.drop(['date_day', 'date_hour', 'date_min'], axis=1)

    X = data_by_mall_id.ix[:, 1:]
    
    y = data_by_mall_id.ix[:, :1]
    x_train, x_valid, y_train, y_valid = train_test_split(X, y, test_size = 0.19)  
    clf = neighbors.KNeighborsClassifier(algorithm='auto', n_neighbors=4).fit(x_train, y_train)
    
    clf_1 = lgb.LGBMClassifier(silent=False, n_estimators=40, learning_rate=0.13, subsample=0.8).fit(x_train, y_train)

    
    answer1 = clf.predict(x_valid)
    
    for j in range(len(answer1)):
        if answer1[j] == np.array(y_valid)[j]:
            count1 = count1 + 1

    print(1.0 * count1 / len(answer1))